boto
django-braces
django-compressor
django-crispy-forms
django-dirtyfields
django-secure
django-storages-redux
django-vanilla-views
djangorestframework<4
drf-nested-routers
psycopg2
six
structlog

https://github.com/miki725/breach_buster/archive/master.tar.gz
https://github.com/miki725/django-auxilium/archive/develop.tar.gz
