<!DOCTYPE html>
<html {% block ngapp %}{% endblock %}>
<head>
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap -->
    {% block pre_head_styles %}
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    {% endblock pre_head_styles %}
    {% block head_styles %}
    {% endblock head_styles %}

    {% block head_ie_scripts %}
        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.2/html5shiv.min.js">
        <![endif]-->
    {% endblock head_ie_scripts %}
    {% block pre_head_scripts %}
    {% endblock pre_head_scripts %}
    {% block head_scripts %}
    {% endblock %}
</head>
<body>

{% block pre_container %}
{% endblock pre_container %}
<div class="container">
    {% block container %}
    {% endblock container %}
</div>
{% block post_container %}
{% endblock post_container %}

{% block pre_footer_scripts %}
{% endblock pre_footer_scripts %}
{% block footer_scripts %}
{% endblock footer_scripts %}

</body>
</html>
